/* змінні */
:root{
    --text-color-2:#6278B4;
    --main-text:#3A2E2E;
    --foot-text-color:#FFF;
    --add-information-color:#686868;
    --header-and-section-bgcolor: #DDF9FF;
    --footer-bg-color: #535353;
    --prise-color: #999999;
}



/* абсолютні стилі */

body{
    font-family: 'Jost', sans-serif; 
    box-sizing: border-box; 
}

/* селектори тегу */

.container{
    width: 1107;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-color: var(--header-and-section-bgcolor);
}

/* селектори класу */
/* header */
.sitename{
    color: var(--text-color-2);
    font-size: 36px;
    font-weight: 700;
}

.head-nav{
    
}

.head-nav-element{
    color: var(--main-text);
    font-size: 24px;
    font-weight: 700;
    padding-right: 64px;
}

.header-benefits{
    color: var(--text-color-2);
    font-size: 24px;
    font-weight: 600;
}

.header-line{
    width: 209px;
    height: 3px;
    background: #6278B4;
}

.header-title{
    color: var(--main-text);
    font-size: 48px;
    font-weight: 700;
    
}

.header-assurance{
    color: var(--main-text);
    font-size: 20px;
    font-weight: 500;
}

.header-button{
    
    border-radius: 30px;
    background: var(--text-color-2);
    color: var(--foot-text-color);
    font-size: 20px;
    font-weight: 900;
    border: none;
}

/* main */

/* our-services */

.servis{

}

.section-name{
    color: var(--main-text);
    font-size: 48px;
    font-weight: 600;
}

.section-name-span{
    color: var(--text-color-2);
    font-size: 48px;
    font-weight: 600;
}

.our-servise-card{
    display: inline-block;
    
}

.section-line{
    width: 351px;
    height: 4px;
    background: var(--text-color-2);    
}

.servis-list{

}

.servis-card-title{
    color: var(--text-color-2);
    font-size: 24px;
    font-weight: 500;
}

.servis-card-span{
    color: var(--main-text);
    font-size: 24px;
    font-weight: 400;
}

.servis-card-text{
    width: 229px;
    height: 63px;
    color: var(--main-text);
    font-size: 14px;
    font-weight: 400;
}

.work{
    background-color: var(--header-and-section-bgcolor);
}

.work-title{
    color: var(--text-color-2);
    font-size: 48px;
    font-weight: 900;

}

.work-text{
    color: var(--main-text);
    font-size: 20px;
    font-weight: 500;
    width: 294px;
}

.corgi-img{

}

.specialist-list{

}

.specialist-card{

}

.specialist-card-img{}

.card-line{
    width: 105px;
    height: 2px;
    background: var(--main-text);
}

.specialist-name{
    color: var(--main-text);
    font-size: 32px;
    font-weight: 600;
}

.specialist-btn{
    
    border-radius: 25px;
    background: var(--text-color-2);
    font-size: 24px;
    font-weight: 600;
    border: none;
    color: var(--foot-text-color);
}

.pricing{
    background-color: var(--header-and-section-bgcolor);
}

.pricing-card{
    background-color: var(--foot-text-color);
    width: 352px;
}

.services{
    background-color: var(--text-color-2);
    font-size: 32px;
    font-weight: 400;
    width: 352px;
    color: var(--foot-text-color);
}

.price{
    color: var(--prise-color);
    font-size: 64px;
    font-weight: 400;
}

.price-span{
    color: var(--prise-color);
    font-size: 36px;
    font-weight: 400;
}

.prices{
color: var(--text-color-2);
font-size: 64px;
font-weight: 400;
}

.price-span{
    color: var(--text-color-2);
    font-size: 36px;
    font-weight: 400;
}

.price-subtitle{
    color: var(--prise-color);
    font-size: 16px;
    font-weight: 500;
}

.reception-plan{
    color: var(--main-text);
    font-size: 16px;
    font-weight: 600;
}

.price-card-line{
    width: 105px;
    height: 2px;
    background: var(--main-text);
} 

.price-card-button{
    width: 160px;
    height: 50px;
    background: #6278B4;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: var(--foot-text-color);
}











