/* змінні */
:root{
    --text-color-2:#6278B4;
    --main-text:#3A2E2E;
    --foot-text-color:#FFF;
    --add-information-color:#686868;
    --header-and-section-bgcolor: #DDF9FF;
    --footer-bg-color: #535353;
    --prise-color: #999999;
}

/* видалення стандартної розмітки */

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

h1,h2,h3,h4,p{
    margin-bottom: 0;
    margin-top: 0; 
}

a{text-decoration: none;}

/* абсолютні стилі */

*{
    font-family: 'Jost', sans-serif;  
}

/* селектори тегу */



header{
    background-color: var(--header-and-section-bgcolor);
}

/* селектори класу */
/* header */
.sitename{
    color: var(--text-color-2);
    font-size: 36px;
    font-weight: 700;
}

.head-nav{
    display: flex;
}

.head-nav-element{
    color: var(--main-text);
    font-size: 24px;
    font-weight: 700;
    padding-right: 64px;
}

.assurance{
    color: var(--text-color-2);
    font-size: 24px;
    font-weight: 600;
}

.emphasis{
    width: 209px;
    height: 3px;
    background: #6278B4;
}

.Title{
    color: var(--main-text);
    font-size: 48px;
    font-weight: 700;
    width: 562px;
}

.advertising{
    color: var(--main-text);
    font-size: 20px;
    font-weight: 500;
}

.head-button{
    width: 242px;
    height: 62px;
    border-radius: 30px;
    background: var(--text-color-2);
    color: var(--foot-text-color);
    font-size: 20px;
    font-weight: 900;
    border: none;
}

/* main */

/* our-services */

.our-servise-card{
    display: inline-block;
    
}



.section-desc-span{
    color: var(--text-color-2);
    font-size: 48px;
    font-weight: 600;
}

.section-desc{
    color: var(--main-text);
    font-size: 48px;
    font-weight: 600;
}

.section-emphasis{
    width: 351px;
    height: 4px;
    background: var(--text-color-2);    
}

.our-servis{
    color: var(--text-color-2);
    font-size: 24px;
    font-weight: 500;
}

.our-servis-span{
    color: var(--main-text);
    font-size: 24px;
    font-weight: 400;
}

.our-servis-description{
    width: 229px;
    height: 63px;
    color: var(--main-text);
    font-size: 14px;
    font-weight: 400;
}

.section-how-we-work{
    background-color: var(--header-and-section-bgcolor);
}

.How-we-work{
    color: var(--text-color-2);
    font-size: 48px;
    font-weight: 900;

}

.our-sistem{
    color: var(--main-text);
    font-size: 20px;
    font-weight: 500;
    width: 294px;
}



.card-emphasis{
    color: var(--main-text);
    width: 224px;
    height: 4px;

}

.name-workers{
    color: var(--main-text);
    font-size: 32px;
    font-weight: 600;
}

.btn{
    width: 224px;
    height: 53px;
    border-radius: 25px;
    background: var(--text-color-2);
    font-size: 24px;
    font-weight: 600;
    border: none;
    color: var(--foot-text-color);
}

.physical-table-section{
    background-color: var(--header-and-section-bgcolor);
}

.card-prising-table{
    background-color: var(--foot-text-color);
    width: 352px;
}

.services{
    background-color: var(--text-color-2);
    font-size: 32px;
    font-weight: 400;
    width: 352px;
    color: var(--foot-text-color);
}

.prise{
    color: var(--prise-color);
    font-size: 64px;
    font-weight: 400;
}

.prises-span{
    color: var(--prise-color);
    font-size: 36px;
    font-weight: 400;
}

.prises{
color: var(--text-color-2);
font-size: 64px;
font-weight: 400;
}

.prise-span{
    color: var(--text-color-2);
    font-size: 36px;
    font-weight: 400;
}

.subtitle{
    color: var(--prise-color);
    font-size: 16px;
    font-weight: 500;
}

.reception-plan{
    color: var(--main-text);
    font-size: 16px;
    font-weight: 600;
}

.card-emphasis{
    width: 105px;
    height: 2px;
    background: var(--main-text);
}

.card-button{
    width: 160px;
    height: 50px;
    background: #6278B4;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: var(--foot-text-color);
}











